*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

html{
    font-size: 62.5%;
}


a{
    text-decoration: none;
    font-size: 3rem;
    color: white;
}

.logo-img{
    width: 168px;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    font-size: 3rem;
}
.nav-items{
    display: flex;
    gap: 20px;
}
.menu{
    display: none;
}

@media(max-width: 1000px){
    .menu{
        display: block;
    }

    .nav-items{
        display: none;
    }
}